<%= form_for(@comet) do |f| %>
  <% if @comet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comet.errors.count, "error") %> prohibited this comet from being saved:</h2>

      <ul>
      <% @comet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
