<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @billboard_artist.string %>
</p>

<%= link_to 'Edit', edit_billboard_artist_path(@billboard_artist) %> |
<%= link_to 'Back', billboard_artists_path %>
