<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @billboard_chart.chart_date %>
</p>

<%= link_to 'Edit', edit_billboard_chart_path(@billboard_chart) %> |
<%= link_to 'Back', billboard_charts_path %>
