<h3>Asteroid Count By Condition Code - Linear Scale</h3>
<%= react_component 'BarChart',
      selector: '#asteroid_count_by_code_linear',
      yScale: 'linear',
      data: '/visualizations/asteroid_bar_chart.json',
      labelField: 'condition_code',
      valueField: 'count' %>

<h3>Asteroid Count By Condition Code - Logarithmic Scale</h3>
<%= react_component 'BarChart',
      selector: '#asteroid_count_by_code_linear',
      yScale: 'log',
      data: '/visualizations/asteroid_bar_chart.json',
      labelField: 'condition_code',
      valueField: 'count' %>

<p>
  Thanks to user d3noob at bl.ocks.org for the starter code: <%= link_to "https://bl.ocks.org/d3noob/bdf28027e0ce70bd132edc64f1dd7ea4" %>
</p>
<%= render partial: 'thanks_nasa' %>
