<h2>Asteroids By Condition Code</h2>
<%= react_component 'PieChart',
      yScale: 'log',
      data: '/visualizations/asteroid_bar_chart.json',
      labelField: 'condition_code',
      valueField: 'count' %>

<p>
  Thanks to user mbostock at bl.ocks.org for the starter code: <%= link_to "https://bl.ocks.org/mbostock/3887235" %>
</p>
<%= render partial: 'thanks_nasa' %>
