%h2 Asteroid Diameter and Orbit Info

= react_component 'ScatterPlot',                                                                                              |
  height: 500,                                                                                                                |
  radiusMin: 4,                                                                                                               |
  radiusMax: 50,                                                                                                              |
  colorScale: ["#3182bd", "#ff7f0e", "#2ca02c", "#d62728", "#9467bd", "#8c564b", "#e377c2", "#7f7f7f", "#bcbd22", "#17becf"], |
  dataUrl: '/visualizations/asteroid_scatter_plot.json'                                                                       |

%p
  Thanks to user curran at github for the starter code: #{link_to "http://curran.github.io/screencasts/introToD3/examples/viewer/#/106"}
= render partial: 'thanks_nasa'
