<h2>Asteroid Diameter and Orbit Info</h2>
<%= react_component 'ScatterPlot',
      height: 500,
      radiusMin: 4,
      radiusMax: 50,
      colorScheme: 'schemeCategory20b',
      data: '/visualizations/asteroid_scatter_plot.json' %>

<p>
  Thanks to user curran at github for the starter code: <%= link_to "http://curran.github.io/screencasts/introToD3/examples/viewer/#/106" %>
</p>
<%= render partial: 'thanks_nasa' %>
