<div class="scatter-plot" id="asteroid_orbit_and_mass">
  <h3>Asteroid Diameter and Orbit Info</h3>
</div>

<p>
  Thanks to user curran at github for the starter code: <%= link_to "http://curran.github.io/screencasts/introToD3/examples/viewer/#/106" %>
</p>
<%= render partial: 'thanks_nasa' %>
<script>
  scatterPlot({
    selector: '#asteroid_orbit_and_mass',
    height: 500,
    radiusMin: 4,
    radiusMax: 50,
  });
</script>
