// Place all the styles related to the visualizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scatter-plot svg {
  .axis text {
    font: 10pt sans-serif;
  }
  .axis .label {
    font-size: 16pt;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
}

#filters{font-family:Arial,sans-serif;margin-bottom:20px;}
#filters a {
  color:#000;
  font-size:12px;
  padding:5px;
  background:#e2e2e2;
  cursor:pointer;
  margin-right:3px;

}
#filters a.SAS{background:#895881;color:#fff;}
#filters a.ECS{background:#ED7C31;color:#fff;}
#filters a.MEA{background:#82A5C0;color:#fff;}
#filters a.SSF{background:#6E9E75;color:#fff;}
#filters a.LCN{background:#00BBD6;color:#fff;}
#filters a.EAS{background:#e25f82;color:#fff;}
#filters a.NAC{background:#be1932;color:#fff;}
#vis{min-height:550px;}
#blurb{height:60px;border-top:1px solid #e2e2e2;padding-top:20px;}

path{
  stroke-width:2;
  fill:none;
}

path.highlight {
  stroke:#ED7C31;
  stroke-width:2;
}
path.current, path.clicked{
  stroke:#000;
  stroke-width:3;
}

.SAS.highlight{stroke:#895881;}
.ECS.highlight{stroke:#ED7C31;}
.MEA.highlight{stroke:#82A5C0;}
.SSF.highlight{stroke:#6E9E75;}
.LCN.highlight{stroke:#00BBD6;}
.EAS.highlight{stroke:#e25f82;}
.NAC.highlight{stroke:#be1932;}
.highlight{stroke-width:1px;}
.axis{stroke-width:0.8;stroke:#000;}
.xTicks,.yTicks{stroke-width:0.6;stroke:#000;}
